.cover {
    height: 470px;
    width: 100%;
    background-image: url(../../images/Cover.png);
    background-position: center;
    background-size: cover;
    background-color: #000;
    border-radius: 10px;
}
.cover-title {
    height: 400px;
    width: 100%;
    position: absolute;
    background: #00000027;
    top: 0;
    font-size: 20px;
    display: inline-block;
    border-radius: 8px;
}
.cover-title h1 {
    font-size: 45px;
    padding-top: 90px;
}
.short-des {
    color: #ffffffb1;
}
.quick-btn button {
    background: #150b2b;
    color: #fff;
}
.quick-btn button:hover {
    background: #150b2bc2;
    color: #fff;
}
